[submodule "Plugins/CommonLibraryPlugin"]
	path = Plugins/CommonLibraryPlugin
	url = https://github.com/jjw1270/CommonLibraryPlugin.git
[submodule "Plugins/CustomUIPlugin"]
	path = Plugins/CustomUIPlugin
	url = https://github.com/jjw1270/CustomUIPlugin.git
[submodule "Plugins/SaveGamePlugin"]
	path = Plugins/SaveGamePlugin
	url = https://github.com/jjw1270/SaveGamePlugin.git
[submodule "Plugins/InteractionPlugin"]
	path = Plugins/InteractionPlugin
	url = https://github.com/jjw1270/InteractionPlugin.git
[submodule "Plugins/StoryFlowPlugin"]
	path = Plugins/StoryFlowPlugin
	url = https://github.com/jjw1270/StoryFlowPlugin.git
